{% extends 'layout.html' %}

{% block body %}

    <main role="main" class="inner cover text-center">
        <h1 class="display-4">MVC Framework</h1>
        <img src="../static/images/flask.png" class="img-fluid" alt="flask">
        <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Registrarme</a>
        </p>
      </main>


{% endblock %} 