body {
   font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
}
.title {
   color: #2F4F4F;
}
.box {
   width: 50%;
}
.form {
   background-color: #F0F8FF;
   border-radius: 15px;
   width: 100%;
   padding: 1rem;
   position: relative;
   color: #2F4F4F;
  
}

.form__field {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: center;
}

.form__label,
.form__input {
   width: 100%;
   border: none;
   background: none;
   margin-bottom: 1rem;
}
 
.form__input {
   margin-bottom: 2rem;
   border-bottom: 1px solid #2F4F4F;
}
.form__select {
   position: absolute;
   left: 70px;
   border-radius: 10px;
}

.form__submit {
   display: inline-block;
   padding: 0.5rem 1rem;
   border: none;
   cursor: pointer;
   border-radius: 0.25rem;
   color: #2F4F4F;
   background-color: #ADD8E6;
   transition: transform 0.2s;
}

.form__submit:active {
   transform: scale(0.9);
}